In [2]:
import numpy as np
import pandas as pd

In [3]:
# Attribute Information:
# The attributes recorded in the dataset are as follows:
# 0.Case Number
# 1.Date2.Year
# 3.Type4.Country
# 5.Area6.Location
# 7.Activity
# 8.Name
# 9.Sex
# 10.Age
# 11.Injury
# 12.Fatal
# 13.Time
# 14.Species
# 15.Investigator or Source

In [4]:
df = pd.read_csv('attacks.csv', encoding='ISO-8859-1')
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2017.06.11,11-Jun-17,2017.0,Unprovoked,AUSTRALIA,Western Australia,"Point Casuarina, Bunbury",Body boarding,Paul Goff,M,...,N,08h30,"White shark, 4 m","WA Today, 6/11/2017",2017.06.11-Goff.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.11,2017.06.11,6095.0
1,2017.06.10.b,10-Jun-17,2017.0,Unprovoked,AUSTRALIA,Victoria,"Flinders, Mornington Penisula",Surfing,female,F,...,N,15h45,7 gill shark,NaN,2017.06.10.b-Flinders.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.10.b,2017.06.10.b,6094.0
2,2017.06.10.a,10-Jun-17,2017.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Bryan Brock,M,...,N,10h00,NaN,"Daytona Beach News-Journal, 6/10/2017",2017.06.10.a-Brock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.10.a,2017.06.10.a,6093.0
3,2017.06.07.R,Reported 07-Jun-2017,2017.0,Unprovoked,UNITED KINGDOM,South Devon,Bantham Beach,Surfing,Rich Thomson,M,...,N,NaN,"3m shark, probably a smooth hound","C. Moore, GSAF",2017.06.07.R-Thomson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.07.R,2017.06.07.R,6092.0
4,2017.06.04,04-Jun-17,2017.0,Unprovoked,USA,Florida,"Middle Sambo Reef off Boca Chica, Monroe County",Spearfishing,Parker Simpson,M,...,N,NaN,8' shark,"Nine News, 6/7/2017",2017.06.04-Simpson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.04,2017.06.04,6091.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25614 entries, 0 to 25613
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8594 non-null   object
 1   Date                    6094 non-null   object
 2   Year                    6092 non-null   float64
 3   Type                    6090 non-null   object
 4   Country                 6048 non-null   object
 5   Area                    5682 non-null   object
 6   Location                5583 non-null   object
 7   Activity                5559 non-null   object
 8   Name                    5888 non-null   object
 9   Sex                     5517 non-null   object
 10  Age                     3374 non-null   object
 11  Injury                  6066 non-null   object
 12  Fatal                   6064 non-null   object
 13  Time                    2848 non-null   object
 14  Species                 3100 non-null   object
 15  Investigator or Source  6077 non-null   object
 16  pdf                     6094 non-null   object
 17  href formula            6093 non-null   object
 18  href                    6093 non-null   object
 19  Case Number.1           6094 non-null   object
 20  Case Number.2           6094 non-null   object
 21  original order          6094 non-null   float64
dtypes: float64(2), object(20)
memory usage: 4.3+ MB

In [6]:
num_rows, num_cols = df.shape
print(f"Number of rows: {num_rows}, Number of Columns: {num_cols}")

Number of rows: 25614, Number of Columns: 22

In [7]:
# (i)
# Check how many missing values are present in this dataset. 
# You should notice a very large number of missing values across all the columns
# (this is mainly due to the fact that the file has a trailing column of zeros at the end of thefile).You should delete 
# any rows that contains a significant numberof missing values (a row should only be retained if it has 5 or more non-NAN values). 
# You shouldnotice a significant reductionin the number of rows in your data as well as the number of missing values across columns.

In [8]:
df2 = df.loc[df.isnull().sum(axis=1) < num_cols-5]
df2.shape

(6094, 22)

In [9]:
# (ii)You will notice in the dataset that some entries in the fatality column are recorded as 
# UNKNOWN, n, F, etc. We ignore these entries and only want to consider entries that are uppercase ‘Y’ or ‘N’.
# Extract all rows from thedataset that have an uppercase ‘Y’or ‘N’in the Fatalcolumn. 
# You should use the resulting dataset for all remaining questions.

In [10]:
df3 = df2.loc[df2.Fatal.isin(["Y", "N"])]

In [11]:
# (iii)What location globally has the highest number of shark attacks?

In [12]:
df3.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [13]:
df3['Location'].value_counts(ascending=False).index[0]

'New Smyrna Beach, Volusia County'

In [14]:
#(iv)Determine the six countries that have experienced the highest number of shark attacks.

In [15]:
df3["Country"].value_counts(ascending=False).index[:6]

Index(['USA', 'AUSTRALIA', 'SOUTH AFRICA', 'PAPUA NEW GUINEA', 'NEW ZEALAND',
       'BAHAMAS'],
      dtype='object')

In [16]:
# (v)Modify the code from the previous question to print out the 
# six countries that have experienced the highest number of fatal shark attacks.

In [17]:
df3["Country"].value_counts(ascending=True).index[:6]

Index(['MONACO', 'NORTHERN ARABIAN SEA', 'ICELAND', 'RED SEA', 'ANGOLA',
       'IRELAND'],
      dtype='object')

In [18]:
# (vi)Based on the data in the Activity column are you more 
# likely to be attacked by a shark if you are “Surfing” or “Scuba Diving”.
# Determine from the dataset what percentage of all recorded shark attacks were fatal.

In [19]:
df3.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [20]:
df3.shape

(5957, 22)

In [21]:
df3["Activity"].value_counts(normalize=True).index[0]

'Surfing'

In [22]:
df3["Fatal"].value_counts(normalize=True) * 100

N    73.7116
Y    26.2884
Name: Fatal, dtype: float64

In [23]:
# (vii)Find out the most common activity for
# males that are attacked and the most common for females that are attacked.

In [24]:
df3.groupby(['Sex', 'Activity'])['Activity'].count().sort_values(ascending=False)['M'].index[0]

'Surfing'

In [25]:
def activity_by_sex(gender, df=df3):
    activities = df.loc[df['Sex'] == gender, "Activity"].value_counts(ascending=False)
    return activities.index[0]

In [26]:
print(f"Most common activities for males: {activity_by_sex('M')}")
print(f"Most common activities for females: {activity_by_sex('F')}")

Most common activities for males: Surfing
Most common activities for females: Swimming

In [27]:
# (viii)Of all recorded shark attacks, what percentage were fatal?

In [28]:
# For each individual country, print out the percentage of fatal shark attacks 
# (number of fatal shark attacks expressed as a percentage of the total number ofshark attacks).
# Some countries have recorded 0 fatal and non-fatal attacks. 
# Your code should only consider countries where the number of non-fatal and fatal attacks are greater than 0.

In [29]:
(df3[df3["Fatal"] == "Y"]["Country"].value_counts() / len(df3)) * 100

AUSTRALIA                     5.741145
USA                           4.196743
SOUTH AFRICA                  2.299815
PAPUA NEW GUINEA              0.940071
MEXICO                        0.738627
                                ...
SOUTHWEST PACIFIC OCEAN       0.016787
TRINIDAD & TOBAGO             0.016787
NEVIS                         0.016787
GABON                         0.016787
ANDAMAN / NICOBAR ISLANDAS    0.016787
Name: Country, Length: 147, dtype: float64