In [2]:
from os import path
import numpy as np

In [72]:
FOLDER = 'NumPy_Datasets'
cork_file = 'CorkRainfall.txt'
dublin_file = 'DublinRainfall.txt'
bike_file = 'bike.csv'

In [3]:
cork_dataset = np.genfromtxt(path.join(FOLDER, cork_file))

In [4]:
cork_dataset

array([[1.962e+03, 1.000e+00, 1.346e+02, 1.250e+01, 2.200e+01],
       [1.962e+03, 2.000e+00, 7.720e+01, 1.120e+01, 1.700e+01],
       [1.962e+03, 3.000e+00, 7.360e+01, 1.340e+01, 1.300e+01],
       ...,
       [2.011e+03, 1.000e+01, 9.180e+01, 2.440e+01, 2.200e+01],
       [2.011e+03, 1.100e+01, 1.486e+02, 3.520e+01, 2.300e+01],
       [2.011e+03, 1.200e+01, 8.710e+01, 2.200e+01, 2.600e+01]])

In [5]:
# Each line of the file contains the following precipitation information pertaining to a specific month and year:
# Year
# Month(1 = Jan, 2 = Feb, 3 = March, etc. )
# Total Rainfall (Millimetres)
# Most Rainfall in a Day (Millimetres)
# Number of Raindays (A day is classified as a rain day if it has >= 0.2mm rain) (Number)

## Task 1

In [6]:
# Print out the max ‘Most Rainfall in a Day’ value and the average 
# ‘Most Rainfall in a Day’ value for the Cork data 
# (that is,obtain the maximumvalue contained in this column of data and the average value in this column of data)

In [7]:
cork_dataset.shape

(600, 5)

In [8]:
max_rainfall = np.max(cork_dataset[:,3])
avg_rainfall = np.mean(cork_dataset[:,3])



print(f'The Maximum rainfall {max_rainfall}')
print(f"The Average rainfall {avg_rainfall}")

The Maximum rainfall 86.7
The Average rainfall 22.9105

## Task 2

In [9]:
# Display all unique years for which there is data in the dataset (you can use np.unique) 
# Ask the user to select a specific year. You should then output the sum of the Rain Days column for that year
# (you do this by adding up the "Number of rain days”for all 12 rowspertaining to the selected year)

In [10]:
print(f'Unique Years: {np.unique(cork_dataset[:,0])}')

Unique Years: [1962. 1963. 1964. 1965. 1966. 1967. 1968. 1969. 1970. 1971. 1972. 1973.
 1974. 1975. 1976. 1977. 1978. 1979. 1980. 1981. 1982. 1983. 1984. 1985.
 1986. 1987. 1988. 1989. 1990. 1991. 1992. 1993. 1994. 1995. 1996. 1997.
 1998. 1999. 2000. 2001. 2002. 2003. 2004. 2005. 2006. 2007. 2008. 2009.
 2010. 2011.]

In [11]:
year = int(input("Which year would you like the data? "))
data_filter = cork_dataset[:,0] == year
year_data = cork_dataset[data_filter]
total_rain = np.sum(year_data[:,-1])
print(f"The total rain for {year} is {total_rain} millimeters")

The total rain for 1962 is 193.0 millimeters

## Task 3

In [12]:
# Calculate the wettest month of the year in Cork based using the “Total Rainfall” value. 
# The month that has the highest cumulative “Total Rainfall” value across all years should be classified as the wettest 
# (please note you can use a for loop in answering this question).

In [13]:
wettest_months = []
for i in range(1,13):
    month_filter = cork_dataset[:,1] == i
    month_data = cork_dataset[month_filter]
    rain_amount = np.sum(month_data[:,2], axis=0)
    wettest_months.append(rain_amount)
print(f"The wettest month in cork is {np.argmax(wettest_months) + 1} with {np.max(wettest_months)} millimeters")

The wettest month in cork is 1 with 6848.1 millimeters

## Task 4

In [60]:
# This question focuses on the Number of Rain days column. The user is asked to enter a maximum threshold value for the number of rain days. 
# Your code should then output the percentage of the time (percentage of rows in the dataset) where the number of rain days is less than or equal to the threshold value.

In [37]:
max_threshold = int(input("Maximum Number of days? "))
rain_days_filter = cork_dataset[:,-1] <= max_threshold
pct_rain_days = round(len(cork_dataset[rain_days_filter])) / len(cork_dataset)
print(f"Percentage of time where the number of rains days is less than or equal to {max_threshold} days, is {pct_rain_days*100:.2f} %")

Percentage of time where the number of rains days is less than or equal to 15 days, is 34.83%

## Task 5

In [38]:
# Calculate the average ‘total rainfall’ value for the summer months 
# (June, July and August) and the Autumn months (Sept, Oct, Nov).

In [60]:
summer_months = [6, 7, 8]
autumn_months = [9, 10, 11]
sum_filter = np.isin(cork_dataset[:,1], summer_months)
aut_filter = np.isin(cork_dataset[:,1], autumn_months)

sum_aut_data = cork_dataset[(sum_filter) | (aut_filter)]
sum_aut_rainfall = np.mean(sum_aut_data[:2])
print(f"Average rain full during summer & autmn is: {sum_aut_rainfall:.2f} ml")

Average rain full during summer & autmn is: 415.22 ml

## Task 6

In [61]:
# Read in the contents of the file DublinRainfall.txt into a NumPy array.
# Append the all rows from the Dublin array to the Cork NumPy array. 
# Calculate the average number of raindays for the new array and write the new NumPy array to a CSV file

In [62]:
dublin_dataset = np.genfromtxt(os.path.join(FOLDER, dublin_file))

In [63]:
dublin_dataset

array([[1.962e+03, 1.000e+00, 4.110e+01, 7.100e+00, 1.600e+01],
       [1.962e+03, 2.000e+00, 2.670e+01, 5.700e+00, 1.400e+01],
       [1.962e+03, 3.000e+00, 5.360e+01, 1.510e+01, 1.300e+01],
       ...,
       [2.011e+03, 1.000e+01, 1.474e+02, 7.130e+01, 1.800e+01],
       [2.011e+03, 1.100e+01, 4.850e+01, 1.170e+01, 1.100e+01],
       [2.011e+03, 1.200e+01, 5.220e+01, 5.200e+00, 2.300e+01]])

In [67]:
full_data = np.append(cork_dataset, dublin_dataset, axis=0)
print(full_data.shape)

(1200, 5)

In [70]:
print(f'Average {np.mean(full_data[:4])}')

Average 416.93500000000006

# Question 2 - Numerical Analysis Exercises using NumPy Bike Dataset:

The following are the details of the various fields in this dataset.<br>

0. instant: record index<br>
1. season : season (1:springer, 2:summer, 3:fall, 4:winter)<br>
2. yr : year (0: 2011, 1:2012)<br>
3. mnth : month ( 1 to 12)<br>
4. hr : hour (0 to 23)<br>
5. holiday : weather day is holiday or not (extracted from [Web Link])<br>
6. weekday : day of the week<br>
7. workingday : if day is neither weekend nor holiday is 1, otherwise is 0.<br>
8. + weathersit :<br>
i. 1: Clear, Few clouds, Partly cloudy, Partly cloudy<br>
ii. 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist<br>
iii. 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds<br>
iv. 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog<br>
9. temp : Normalized temperature in Celsius. The values are divided to 41 (max)<br>
10. atemp: Normalized feeling temperature in Celsius. The values are divided to 50 (max)<br>
11. hum: Normalized humidity. The values are divided to 100 (max)<br>
12. windspeed: Normalized wind speed. The values are divided to 67 (max)<br>
13. casual: count of casual users<br>
14. registered: count of registered users<br>
15. cnt: count of total rental bikes including both casual and registered<br>

## Task 1

In [71]:
# Calculate the average temperature value (column index 9) for the entire dataset. 
# Note the temperature values in this column have been already normalized by dividing by 41.

In [75]:
bike_ds = np.genfromtxt(os.path.join(FOLDER, bike_file), delimiter=',')
print(bike_ds.shape)

(17379, 16)

In [77]:
avg_temp = np.mean(bike_ds[:,9]) * 41
print(f'Average Tempretaure: {avg_temp:.2f}')

Average Tempretaure: 20.38

## Task 2

In [ ]:
# Print out the average number of casual users for all days
# classified as holidays as well as the average for all days classified as non-holidays. 
# (Note holidays =1 and non-holidays = 0). Holidays attribute is stored at index 5.

In [85]:
users_holiday= np.mean(bike_ds[bike_ds[:,5]==1][13])
users_non_holiday= np.mean(bike_ds[bike_ds[:,5]==0][13])

print(f"Number of Casual users on holidays: {round(users_holiday)}")
print(f"Number of Casual users on non-holidays: {round(users_non_holiday)}")

Number of Casual users on holidays: 37
Number of Casual users on non-holidays: 14

In [83]:
avg_users_holiday

0.0

## Task 3

In [86]:
# Write NumPy code that will print out the total number of casual users for each month of the year. 
# You would expect to see an increase in the number of casual users over the summer
# months and a decline for the winter months.

In [91]:
months = np.unique(bike_ds[:,3])
monthly_users = {}
for i in months:
    tot_users = np.sum(bike_ds[bike_ds[:,3] == i,13])
    print(f"Month {int(i)}: Total users: {int(tot_users)}")
    monthly_users[i] = int(tot_users)

Month 1: Total users: 12042
Month 2: Total users: 14963
Month 3: Total users: 44444
Month 4: Total users: 60802
Month 5: Total users: 75285
Month 6: Total users: 73906
Month 7: Total users: 78157
Month 8: Total users: 72039
Month 9: Total users: 70323
Month 10: Total users: 59760
Month 11: Total users: 36603
Month 12: Total users: 21693

In [95]:
summer_users = np.sum([monthly_users[i] for i in summer_months])
aut_users = np.sum([monthly_users[i] for i in autumn_months])

print(f"Total number of Summer users: {int(summer_users)}")
print(f"Total number of Autumn users: {int(aut_users)}")

Total number of Summer users: 224102
Total number of Autumn users: 166686

## Task 5

In [96]:
# We will now look at the relationship between temperature and the number of rental users. 
# Your code should work out the average number of rental users for the following temperature ranges.
# • 1, 5
# • 6, 10
# • 11, 15
# • 16, 20
# • 21, 25
# • 26, 30
# • 31, 35
# • 36, 40
# Remember the temperature values specified in the file have been normalised by dividing by 41.

In [143]:
NORMALIZER = 41
for i, j in zip(np.arange(1,41,5),np.arange(5,41,5)):
    
    my_filter = (bike_ds[:,9]*NORMALIZER >= i) & (bike_ds[:,9]*NORMALIZER <= j)
    avg_temp = np.mean(bike_ds[my_filter,15])
    print(f"For temp in range {i} to {j} the mean number of total rental users was {avg_temp:.9f}")

For temp in range 1 to 5 the mean number of total rental users was 49.295454545
For temp in range 6 to 10 the mean number of total rental users was 73.667063020
For temp in range 11 to 15 the mean number of total rental users was 130.681770652
For temp in range 16 to 20 the mean number of total rental users was 169.066772655
For temp in range 21 to 25 the mean number of total rental users was 211.700074516
For temp in range 26 to 30 the mean number of total rental users was 242.172678691
For temp in range 31 to 35 the mean number of total rental users was 337.473005641
For temp in range 36 to 40 the mean number of total rental users was 314.991111111